{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/login-style.css' %}">
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}" />
  </head>
  <body class="img js-fullheight" style="background-image: url({% static 'img/bg.jpg' %});">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Reset Password</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Enter your email</h3>
		      	<form method="post" action="{% url 'accounts:password_reset' %}">
                    {% csrf_token %}
		      		<div class="form-group">
						<input type="email" name="email" class="form-control" placeholder="Email" required>
						{% if form.email.errors %}
							<div style="color: white; font-size:14px; margin-top:10px; text-align: center;">
								{% for error in form.email.errors %}
									{{ error }}
								{% endfor %}
							</div>
						{% endif %}
		      		</div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Send Reset Link</button>
	            </div>
	            <div class="form-group text-center">
	            	<a href="{% url 'accounts:login' %}" style="color: #fff">Back to Login</a>
	            </div>
	          </form>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'login-js/jquery.min.js' %}"></script>
  	<script src="{% static 'login-js/popper.js' %}"></script>
  	<script src="{% static 'login-js/bootstrap.min.js' %}"></script>
  	<script src="{% static 'login-js/main.js' %}"></script>
  </body>
</html>
