{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="">
      {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Reset Your Password</h1>

      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Please Enter a Valid Email Address
        </div>
      {% endif %}

      <label for="inputEmail" class="sr-only">Email address</label>
      {{ form.email|add_class:"form-control"|attr:"placeholder:Email address" }}

      <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Send Reset Link</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2025-2026</p>
    </form>
  </body>
</html>
