{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Password Reset Complete</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  </head>

  <body class="text-center">
    <div class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Password Changed</h1>
      <p>Your password has been successfully changed.</p>
      <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-block">Back to Login</a>
    </div>
  </body>
</html>
