{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Set New Password</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  </head>

  <body class="text-center">
    <form class="form-signin" method="post">
      {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Set New Password</h1>

      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Password does not match or is too weak.
        </div>
      {% endif %}

      {{ form.new_password1|add_class:"form-control mb-2"|attr:"placeholder:New Password" }}
      {{ form.new_password2|add_class:"form-control mb-2"|attr:"placeholder:Confirm Password" }}

      <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Change Password</button>
    </form>
  </body>
</html>
