{% load static %}

<div class="single-sidebar-widget user-info-widget">
    {# نمایش آواتار نویسنده یا تصویر دیفالت #}
    {% if author and author.profile.avatar %}
        <img src="{{ author.profile.avatar.url }}" alt="{{ author.get_full_name|default:author.username }}">
    {% else %}
        <img src="{% static 'img/blog/user-info.png' %}" alt="{{ author.get_full_name|default:'Unknown Author' }}">
    {% endif %}

    {# نمایش نام کامل نویسنده و لینک به صفحه author #}
    {% if author %}
        <a href="{% url 'blog:author' author_username=author.username %}">
            <h4>{{ author.first_name|default:author.username }} {{ author.last_name }}</h4>
        </a>
    {% else %}
        <h4>Unknown Author</h4>
    {% endif %}

    <p>Senior blog writer</p>

    <ul class="social-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>

    <p>
        Boot camps have its supporters and detractors. Some people do
        not understand why you should have to spend money on boot camp
        when you can get. Boot camps have its supporters and its
        detractors.
    </p>
</div>
