<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Coming Soon</title>
    <meta
      name="description"
      content="Our website is coming soon. Stay tuned for updates!"
    />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://travelistaa.ir//" />
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
      }
      h1 {
        font-size: 3rem;
        color: #333;
        text-align: center;
      }
      p {
        text-align: center;
        color: #555;
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>🚀 Coming Soon</h1>
      <p>Please check back later.</p>
    </div>
  </body>
</html>
